@import url("https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Audiowide&display=swap");
#cabecera__principal {
  color: #1D1E0C;
  font-family: "Cinzel", sans-serif;
  font-weight: bold;
  font-size: 2.2em;
  text-align: center;
}

#subtitulo__principal {
  margin-top: 10px;
}

.cabecera__nosotros {
  color: #EF0E2E;
  font-family: "Cinzel", sans-serif;
  font-weight: bold;
  font-size: 2em;
  padding: 20px 20px;
  text-align: center;
  animation-name: textAlpha;
  animation-duration: 3s;
}

.cabecera__contacto {
  color: #EF0E2E;
  font-family: "Cinzel", sans-serif;
  font-weight: bold;
  font-size: 2em;
  padding: 20px 20px;
  text-align: center;
}

.text__contacto {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  animation-name: textAlpha;
  animation-duration: 2s;
}

.text__horario {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

#form_contact {
  display: block;
  width: auto;
  box-sizing: border-box;
  overflow-x: hidden;
}

.cabecera__productos {
  color: #EF0E2E;
  font-family: "Cinzel", sans-serif;
  font-weight: bold;
  font-size: 2em;
  padding: 20px 20px;
  text-align: center;
  animation-name: textAlpha;
  animation-duration: 4s;
}

#nuestras_promos {
  color: #EF0E2E;
  font-family: "Cinzel", sans-serif;
  font-weight: bold;
  font-size: 2em;
  padding: 20px 20px;
  text-align: center;
}

#botonera {
  background: linear-gradient(to right, #FF0000, #FFF200, #1E9600);
  display: flex;
  align-items: center;
  justify-content: center;
}
#botonera ul {
  align-items: center;
}
#botonera ul li, #botonera ul a {
  list-style: none;
  margin-right: 10px;
  color: rgb(0, 0, 1);
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 400;
}
#botonera ul li:hover, #botonera ul a:hover {
  color: rgb(138, 221, 45);
  font-weight: 700;
  cursor: pointer;
  transform: scale(1.125);
}

a {
  color: rgb(255, 220, 16);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Cinzel", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 3em;
  text-align: center;
}

h2 {
  font-size: 2em;
  text-align: center;
}

h3 {
  font-size: 1em;
}

body {
  background: linear-gradient(to right, #FF0000, #FFF200, #1E9600);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}

.nosotros_main {
  width: 50%;
  margin-top: 20px;
}

.main-text {
  color: rgb(255, 220, 16);
  font-size: 1.2em;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  text-align: justify;
  background-color: #1b1b1b;
}

.accordion-item {
  background: #1b1b1b;
}

.accordion-body {
  color: rgba(245, 188, 7, 0.8);
  text-align: justify;
}

.panelsStayOpen-collapseOne {
  background: #1b1b1b;
  box-sizing: border-box;
}

#carouselExampleInterval {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 45%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 10%;
  height: 75%;
  margin: 30px;
  border-size: border-box;
}

.card-text {
  margin-top: 15px;
}

.card-title {
  margin-top: 15px;
}

.accordionPanelsStayOpenExample {
  background: #1b1b1b;
}

#mainContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  margin: 20px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.formContacto {
  font-family: "Roboto serif;", sans-serif;
  display: block;
  margin: 0 auto;
  width: 400px;
  text-align: auto;
  color: #F44C7B;
  font-size: 2rem;
  box-sizing: border-box;
  overflow-x: hidden;
}

#btn_enviar {
  margin: 20px;
}

#row__productos {
  display: flex;
  flex-direction: center;
  align-items: center;
  margin-top: 0 auto;
  border-radius: 4px;
  padding-top: auto;
}

div footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px 0;
  margin-top: 150px;
}

footer a {
  margin: 10px;
}

footer div a:hover {
  color: black;
  transform: scale(1);
}

div footer div {
  padding: 5px 7px;
}

div footer div a img {
  width: 10%;
  margin: 10px;
}

.redSocial {
  text-align: center;
  padding: 5px 0;
  margin: 5px;
}

#copy__by {
  justify-content: center;
  text-align: center;
  padding: 10px 0;
  margin: 10px;
}

.row mapa {
  justify-content: space-between;
}

html,
body {
  margin: 0px;
}

.btn-primary {
  background: rgb(255, 220, 16);
  margin: 5px 30px 5px 30px;
  color: #5800b0;
}
.btn-primary:hover {
  color: rgb(138, 221, 45);
  font-weight: 700;
  cursor: pointer;
  transform: scale(1.125);
}

.error_404 {
  position: absolute;
  top: 5%;
  left: 0%;
  height: 95%;
  width: 100%;
  margin: 0px;
  background: radial-gradient(circle, #240015 0%, #12000b 100%);
  overflow: hidden;
}

.wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.text__404 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 150px;
  font-size: 32px;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  display: block;
  color: #12000a;
  font-weight: 300;
  font-family: Audiowide;
  text-shadow: 0px 0px 4px #12000a;
  animation: fadeInText 3s ease-in 3.5s forwards, flicker4 5s linear 7.5s infinite, hueRotate 6s ease-in-out 3s infinite;
}

#svgWrap_1,
#svgWrap_2 {
  position: absolute;
  height: auto;
  width: 600px;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#svgWrap_1,
#svgWrap_2,
.error_404 {
  animation: hueRotate 6s ease-in-out 3s infinite;
}

#id1_1,
#id2_1,
#id3_1 {
  stroke: #ff005d;
  stroke-width: 3px;
  fill: transparent;
  filter: url(#glow);
}

#id1_2,
#id2_2,
#id3_2 {
  stroke: #12000a;
  stroke-width: 3px;
  fill: transparent;
  filter: url(#glow);
}

#id3_1 {
  stroke-dasharray: 940px;
  stroke-dashoffset: -940px;
  animation: drawLine3 2.5s ease-in-out 0s forwards, flicker3 4s linear 4s infinite;
}

#id2_1 {
  stroke-dasharray: 735px;
  stroke-dashoffset: -735px;
  animation: drawLine2 2.5s ease-in-out 0.5s forwards, flicker2 4s linear 4.5s infinite;
}

#id1_1 {
  stroke-dasharray: 940px;
  stroke-dashoffset: -940px;
  animation: drawLine1 2.5s ease-in-out 1s forwards, flicker1 4s linear 5s infinite;
}

@keyframes drawLine1 {
  0% {
    stroke-dashoffset: -940px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes drawLine2 {
  0% {
    stroke-dashoffset: -735px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes drawLine3 {
  0% {
    stroke-dashoffset: -940px;
  }
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes flicker1 {
  0% {
    stroke: #ff005d;
  }
  1% {
    stroke: transparent;
  }
  3% {
    stroke: transparent;
  }
  4% {
    stroke: #ff005d;
  }
  6% {
    stroke: #ff005d;
  }
  7% {
    stroke: transparent;
  }
  13% {
    stroke: transparent;
  }
  14% {
    stroke: #ff005d;
  }
  100% {
    stroke: #ff005d;
  }
}
@keyframes flicker2 {
  0% {
    stroke: #ff005d;
  }
  50% {
    stroke: #ff005d;
  }
  51% {
    stroke: transparent;
  }
  61% {
    stroke: transparent;
  }
  62% {
    stroke: #ff005d;
  }
  100% {
    stroke: #ff005d;
  }
}
@keyframes flicker3 {
  0% {
    stroke: #ff005d;
  }
  1% {
    stroke: transparent;
  }
  10% {
    stroke: transparent;
  }
  11% {
    stroke: #ff005d;
  }
  40% {
    stroke: #ff005d;
  }
  41% {
    stroke: transparent;
  }
  45% {
    stroke: transparent;
  }
  46% {
    stroke: #ff005d;
  }
  100% {
    stroke: #ff005d;
  }
}
@keyframes flicker4 {
  0% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  30% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  31% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  32% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  36% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  37% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  41% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  42% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  85% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  86% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  95% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  96% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
  100% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
}
@keyframes fadeInText {
  1% {
    color: #12000a;
    text-shadow: 0px 0px 4px #12000a;
  }
  70% {
    color: #ff005d;
    text-shadow: 0px 0px 14px #ff005d;
  }
  100% {
    color: #ff005d;
    text-shadow: 0px 0px 4px #ff005d;
  }
}
@keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(-120deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
@media (min-width: 320px) {
  #cabecera__principal, #subtitulo__principal {
    font-size: 2em;
  }
}

@media (min-width: 320px) {
  .carouselExampleInterval {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
  }
}

/*# sourceMappingURL=style.css.map */
