@import url("https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");
.subtMision {
  font-family: "Roboto", sans-serif;
  background-color: #424040;
  border-style: dotted;
  font-size: 2em; }

.text__mision {
  color: blueviolet; }

.subtValores {
  font-family: "Roboto", sans-serif;
  background-color: #4D17FD;
  border-style: groove;
  color: lightcoral;
  font-size: 2rem; }

.text__valores {
  color: skyblue; }

#cabecera__principal {
  color: #1D1E0C;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 2.6em;
  padding: 20px 20px; }

.cabecera__nosotros {
  color: #271D4E;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 2em;
  padding: 20px 20px;
  text-align: center;
  animation-name: textAlpha;
  animation-duration: 3s; }

.cabecera__contacto {
  color: #EF0E2E;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 3rem;
  padding: 20px 20px;
  text-align: center; }

.text__contacto {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  animation-name: textAlpha;
  animation-duration: 2s; }

.text__horario {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: center; }

#form_contact {
  display: block;
  width: auto;
  box-sizing: border-box;
  overflow-x: hidden; }

.cabecera__productos {
  color: #14E3E3;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 3rem;
  text-decoration: none;
  padding: 20px 20px;
  text-align: center; }

#nuestras_promos {
  color: #5446DC;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  font-size: 3rem;
  padding: 20px 20px;
  text-align: center; }

#botonera {
  background: linear-gradient(to right, #FF0000, #FFF200, #1E9600);
  display: flex;
  align-items: center;
  justify-content: center; }
  #botonera ul {
    display: flex; }
    #botonera ul li {
      list-style: none;
      margin-right: 10px; }
      #botonera ul li a {
        color: #ffdc10;
        font-family: "Roboto", sans-serif;
        font-size: 1em; }
        #botonera ul li a:hover {
          color: #7400ff; }

h1,
h2,
h3 {
  font-family: "Cinzel", sans-serif;
  font-weight: 700; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1em; }

body {
  background: linear-gradient(to right, #FF0000, #FFF200, #1E9600); }

#mainContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  margin: 20px;
  box-sizing: border-box;
  overflow-x: hidden; }

.formContacto {
  font-family: 'Roboto serif;', sans-serif;
  display: block;
  margin: 0 auto;
  width: 400px;
  text-align: auto;
  color: #F44C7B;
  font-size: 2rem;
  box-sizing: border-box;
  overflow-x: hidden; }

#row__productos {
  display: flex;
  flex-direction: column;
  align-items: center; }

#productos__cards {
  display: flex;
  flex-direction: column;
  align-items: center; }

div footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 5px 0;
  margin-top: 150px; }

footer a {
  margin: 20px; }

footer div a:hover {
  color: black; }

div footer div {
  padding: 10px 7px; }

div footer div a img {
  width: 8%;
  margin: 10px; }

.redSocial {
  text-align: center;
  padding: 5px 0;
  margin: 5px; }

#copy__by {
  justify-content: center;
  text-align: center;
  padding: 10px 0;
  margin: 10px; }
