h1,
h2,
h3,
    {
    font-family: $secondaryFont;
    font-weight: $textBold;
}

h1 {
    font-size: $textLg;
}

h2 {
    font-size: $textMd;
}

h3 {
    font-size: $textSm;
}

body {
    background: linear-gradient(to right, #FF0000, #FFF200, #1E9600);
}

main {
    text-align: center;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
}

#mainContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    margin: 20px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.formContacto {
    font-family: 'Roboto serif;', sans-serif;
    display: block;
    margin: 0 auto;
    width: 400px;
    text-align: auto;
    color: #F44C7B;
    font-size: 2rem;
    box-sizing: border-box;
    overflow-x: hidden;
}

#btn_enviar {
    margin: 20px
}