h1,
h2,
h3,
h4,
h5,
    {
    font-family: $secondaryFont;
    font-weight: $textBold;
}

h1 {
    font-size: $textLg;
    text-align: center;
}

h2 {
    font-size: $textMd;
    text-align: center;
}

h3 {
    font-size: $textSm;
}

body {
    background: linear-gradient(to right, #FF0000, #FFF200, #1E9600);
}

main {
    text-align: center;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 10px;
}
.nosotros_main{
    width: $w-50;
    margin-top: 20px;
}
.main-text{
    font-size: $textMds;
    padding: 20 px;
    text-align: justify;

}

.accordion-item{
    background: $black
}
.accordion-body{
    color: $orange;
    text-align: justify;
}
.panelsStayOpen-collapseOne{
    background: black;
    box-sizing:border-box;
}

#carouselExampleInterval {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: $w-45;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: $w-10;
    height: $w-75;
    margin: 30px;
    border-size: border-box;
}
.card-text{
    margin-top: 15px;
}
.card-title{
    margin-top: 15px;
}

.accordionPanelsStayOpenExample{
    background: black;
    ;
}
#mainContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    margin: 20px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.formContacto {
    font-family: 'Roboto serif;', sans-serif;
    display: block;
    margin: 0 auto;
    width: 400px;
    text-align: auto;
    color: #F44C7B;
    font-size: 2rem;
    box-sizing: border-box;
    overflow-x: hidden;
}

#btn_enviar {
    margin: 20px
}