@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

$fontMain: 'Roboto',
sans-serif;
$secondaryFont: 'Cinzel',
sans-serif;
$textXl: 4em;
$textLg: 3em;
$textMd: 2em;
$textMds: 1.2em;
$textSm: 1em;
$textXs: 0.5em;

$textBold: 700;
$textRegular: 400;
$textLight: 300;


#cabecera__principal {
    color: #1D1E0C;
    font-family: $secondaryFont;
    font-weight: bold;
    font-size: 2.2em;
    text-align: center
}

#subtitulo__principal {
    margin-top: 10px;

}

.cabecera__nosotros {
    color: $red;
    font-family: $secondaryFont;
    font-weight: bold;
    font-size: $textMd;
    padding: 20px 20px;
    text-align: center;
    animation-name: textAlpha;
    animation-duration: 3s;
}

.cabecera__contacto {
    color: map-get($map:$paleta, $key:'color7');
    font-family: $secondaryFont;
    font-weight: bold;
    font-size: $textMd;
    padding: 20px 20px;
    text-align: center;
}

.text__contacto {
    font-size: $textMds;
    font-weight: bold;
    text-align: center;
    animation-name: textAlpha;
    animation-duration: 2s;
}

.text__horario {
    font-size: $textMds;
    font-weight: bold;
    text-align: center;
}

#form_contact {
    display: block;
    width: auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

.cabecera__productos {
    color: map-get($map:$paleta, $key:'color7');
    font-family: $secondaryFont;
    font-weight: bold;
    font-size: $textMd;
    padding: 20px 20px;
    text-align: center;
    animation-name: textAlpha;
    animation-duration: 4s;
}

#nuestras_promos {
    color: map-get($map:$paleta, $key:'color7');
    font-family: $secondaryFont;
    font-weight: bold;
    font-size: $textMd;
    padding: 20px 20px;
    text-align: center;
}