@import url('https://fonts.googleapis.com/css2?family=Quintessential&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

$fontMain: 'Roboto', sans-serif;
$secondaryFont: 'Cinzel', sans-serif;
$textXl: 4em;
$textLg: 3em;
$textMd: 2em;
$textMds: 1.5em;
$textSm: 1em;

$textBold: 700;
$textRegular: 400;
$textLight: 300;


#cabecera__principal {
    color: #1D1E0C;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 2.2em;
    text-align: center
}

#subtitulo__principal{
    margin-top: 10px;

}
.cabecera__nosotros {
    color: #271D4E;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 2em;
    padding: 20px 20px;
    text-align: center;
    animation-name: textAlpha;
    animation-duration: 3s;
}

.cabecera__contacto {
    color: #EF0E2E;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 3rem;
    padding: 20px 20px;
    text-align: center;
}

.text__contacto {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    animation-name: textAlpha;
    animation-duration: 2s;
}

.text__horario {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
}

#form_contact {
    display: block;
    width: auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

.cabecera__productos {
    color: #14E3E3;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 3rem;
    text-decoration: none;
    padding: 20px 20px;
    text-align: center;
}

#nuestras_promos {
    color: #5446DC;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 3rem;
    padding: 20px 20px;
    text-align: center;
}