.logo {
    width: 100%;

}

.nav-item {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-decoration: none;
}
div ul li {
    text-align: center;
    margin: 10px;
}

div ul {
    display: inline-block;

}

div ul li {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

div ul li a {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-decoration: none;
    color: #5B5959;
}

div ul li:hover {
    color: #9B17AF;
    font-weight: 600;

}

div ul li:hover {
    transform: scale(1.2);

}