@import "./mixins";
@import "./vars";

#cabecera__principal,
#subtitulo__principal {
    @include medias(mobile) {
        font-size: $textMd;
    }
}

.carouselExampleInterval {
    @include medias(mobile) {
        margin: auto;
        padding: 0;
        box-sizing: border-box;
        width: $w-80;
    }
}

.cards {
    @include medias(mobile) {
        width: $w-85;
    }
}

.card-text {
    @include medias(mobile) {
        font-size: $textMds;
        color: $white;
        padding: 10px;
        margin: 5px;
        border-radius: 10px;
        text-align: center;
        background-color: $rednav;
    }
}

.card-title {
    @include medias(mobile) {
        margin-top: 1px;
        font-size: $textMd;
    }
}

#botonera {
    @include medias(mobile) {
        :hover {
            color: $red;
        }
    }
}