//nesting - anidación

#botonera{
    background: linear-gradient(to right, #FF0000, #FFF200, #1E9600);
    display: flex;
    align-items: center;
    justify-content: center;
    ul{
        display: flex;
        li{
            list-style: none;
            margin-right: 10px;
            a{
                color:$secondaryColor;
                font-family: $fontMain;
                font-size: $textSm;
                &:hover{
                    color:$keyColor;
                }

            }
        }
    }

}