//En la navbar utilice anidación y también extendí las propiedades cuando hago hover sobre los links e íconos de Bootstrap.


#botonera {
    background: linear-gradient(to right, #FF0000, #FFF200, #1E9600);
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
        align-items: center;

        li {
            list-style: none;
            margin-right: 10px;
            color: $mainColor;
            font-family: $fontMain;
            font-size: $textSm;
            font-weight: $textRegular;

            &:hover {
                color: $green;
                font-weight: $textBold;
                cursor: pointer;
                transform: scale(1.112);
            }

        }
    }

}

a {
    @extend li;
    color: $secondaryColor;
}

@media (min-width:320px) and (max-width:480px) {
    .navbar-collapse {
    &:hover {
        color: $red;
    }
}
}
