// vars globales
$mainColor: rgba(0,0,0,0);
$secondaryColor:rgba(255,220,16,1);
$keyColor: rgba(116, 0, 255, 1);
$white:#f1f3f2;
$black:#1b1b1b;
$brown:#424040;
$blueviolet:#5800b0;

//sizing
$w-100: 100%;
$w-50: 50%;


