// variables globales

//colors
$mainColor:linear-gradient(to right, #FF0000, #FFF200, #1E9600);
$secondaryColor:rgba(200,255,99,.9);
$keyColor:#F90522;
$white:#F9f5F5;
$black:#030303;

//sizing
$w-100:100%;
$w-50:50%;
