// vars globales
$mainColor: rgba(0,0,1);
$secondaryColor: rgba(255,220,16,1);
$keyColor:  rgba(116, 0, 255, 1);
$orange: rgba(245, 188, 7, 0.8);
$white: #f1f3f2;
$black: #1b1b1b;
$brown: #424040;
$blueviolet: #5800b0;
$green: rgba(138,221,45,1);

//sizing
$w-100: 100%;
$w-95: 95%;
$w-80: 80%;
$w-75: 75%;
$w-60: 60%;
$w-50: 50%;
$w-45: 45%;
$w-40: 40%;
$w-25: 25%;
$w-10: 10%;
$w-5: 5%;

